* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-wrap: break-all !important;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}
.small-title{
    font-size: 1.5em;
}
nav {
    background-color: #00000055;
    color: #fff;
    padding: 2rem;
}

nav a {
    float: left;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    float: left;
    padding: 5px;
}

.navbar-nav li a{
    color: #fff !important; 
    font-size: 18px;
}
.site-logo {
    width: 10%;
    height: auto;
}

.navbar-toggler i {
    color: #fff;
}
.bg-none{
    background: none;
}
/*------header css--------------*/
header {
    height: 100vh;
    background-image: url(../img/logo/light-logo-opacity.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-position: center;
}
 
.header-row{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.web-title {
    font-size: 6em;
    color: #fff;

}

.highlight {
    color: #ff4545;
}

.sneaker-head {
    width: 100%;
    height: auto;
    text-align: center;
}

/*------header css end--------------*/

/*-----products--------------*/

.products{

 background: none !important;
}
.product .card{
 background-color: #ffffff38;
}

.products h2{
    font-size: 3em;
    color: #fff;
}

.product-details{
    text-align: center;

    padding:10px;
    margin-top: 5px;
}
.product-details p{
    line-height: 0.1px;
    font-size: 16px;
    color: #fff;
}
.product-details .add-to-cart{
padding: 5px;
border: none;
border-radius: 5px;
font-size: 10px;
background:linear-gradient(#ff4545, #B44C4C);
color: #fff;
}
/*-----products end--------------*/
/*--about us style-*/
.about-us{

    background: none !important;
}
.gradient-box{
    width: 20em;
    height: 20em;
    background:linear-gradient(#ff4545, #B44C4C);
    border-radius: 10px;
    box-shadow: -1px 1px 10px rgb(217, 215, 215);
}
.gradient-box img{
    width: 120%;
    height: auto;
}
.about-us p{
    font-size: 16px;
    color: #fff;
}

/*--about us style end-*/
/*--subscbe section--*/
.subscribe{
    background: none !important;
}
.subscribe h2{
    font-size: 3em;
    color: #fff;
}
.btn-subscribe{
    width: 100%;
    color: #fff;
    background:linear-gradient(#ff4545, #B44C4C);
    border: none !important;
}
/*--subscbe section end--*/

/*--footer--*/
.footer{
    padding: 10px;
    border-top: 1px solid #fff !important;
  
}
/*--footer end--*/

@media only screen and (max-width:1000px) {

/*------header css--------------*/
    .col-md-6 .web-title {
        font-size: 5em;
        z-index: 1 !important;
        text-shadow: 2px 2px black;
    }

    .header-col:nth-child(1) {
        z-index: 1;
    }

    .header-col:nth-child(2) .sneaker-head {
        z-index: 2;
    }
/*------header css end--------------*/

/*---products css--------*/
.products h2{
    font-size: 2.5em;

}
/*---products css end--------*/
}


@media only screen and (max-width:800px) {
    /*------header css--------------*/
        .col-md-6 .web-title {
            font-size: 4em;
    
        }
    
    
        .header-col:nth-child(2) .sneaker-head {
            
            width: 110%;
            margin-left: 40%;
        }
    /*------header css end--------------*/

    /*---products css--------*/
.products h2{
    font-size: 2em;

}
/*---products css end--------*/

    /*---subscribe css--------*/
    .subscribe h2{
        font-size: 2em;
    
    }
    /*---subscribe css end--------*/
}

@media only screen and (max-width:750px) {
    /*------header css--------------*/
    .header-col:nth-child(2) .sneaker-head {
        margin-top: -15em;
        width: 70%;
        margin-left: 40%;
    }
    /*------header css end--------------*/
}

@media only screen and (max-width:600px) {
/*------header css--------------*/
    .col-md-6 .web-title {
        font-size: 3em;
  
    }


    .header-col:nth-child(2) .sneaker-head {
        margin-top: -10em;
        width: 80%;
        margin-left: 40%;
    }
/*------header css end--------------*/
/*--product--*/
.product-details p{
    line-height: 0.1px;
    font-size: 12px;
    color: #fff;
    white-space:nowrap;
}
/*--product end--*/
/*--about us--*/
.about-us p{
    font-size: 12px;
    color: #fff;
}

/*--about us--*/
    /*---subscribe css--------*/
    .subscribe h2{
        font-size: 1.5em;
    
    }
    /*---subscribe css end--------*/
}

/*-for smaller screen*/
@media only screen and (max-width:450px) {
/*------header css--------------*/
.col-md-6 .web-title {
    font-size: 2.5em;

}

.header-col:nth-child(2) .sneaker-head{
    margin-top: -12em;
    width: 70%;
    margin-left: 40%;
}
/*------header css end--------------*/


}